@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  height: 100vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.intro {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}

button {
  background-color:#ff7f50;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  color: #61300f;
}

.introbutton {
  align-self: center;
  max-width: 300px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user {
  display: flex;
  flex-direction: column;
}

input {
  border: 5px solid #ff7f50;
  border-radius: 5px;
  padding: 5px;
}

.navbar {
  position:fixed;
  top: 0;
}

.navbuttons {
  background-color: transparent;
  color:#ff7f50;
}

#tracker-user {
  font-weight: 600;
  font-size: 60;
}

.tracker {
  display: flex;
  flex-direction: column;
}

.balancecontainer {
  margin: 0 auto;
  text-align: center;
  padding: 20;
}

#balance, #transactiontitle {
  font-weight: 600;
  font-size: 30;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  background-color: #ff7f50;
  padding: 20;
  border-radius: 10px;
}

.form-label {
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10;

}

.form-values {
  background-color: #fff;
  padding: 10;
  border: hidden;
  margin-bottom: 20;
}

input:focus {
  outline-color: #ff7f50;
}

.transaction-container {
  position: absolute;
  top: 100;
}

.transactionlabels {
  text-align: center;
}

.filterbutton {
  min-width: 100px;
}